# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: r
sudo: required

r_binary_install:
  - ape
  - XML
  - Rcpp
  - knitr
  - brew
  - RUnit
  - git2r
  - jsonlite
  - inline
  - highlight
  - formatR
  - highr
  - markdown
  - rgl
  - stringi
  - testthat

r_github_packages:
  - hadley/devtools


r:
  - oldrel
  - release


after_success:
  - Rscript  -e 'covr::codecov()'


