# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: r
sudo: required

r_binary_install:
  - ape
  - XML
  - Rcpp
  - knitr
  - brew
  - RUnit
  - git2r
  - jsonlite
  - inline
  - highlight
  - formatR
  - highr
  - markdown
  - rgl
  - stringi
  - testthat

r_github_packages:
  - hadley/devtools
  - jimhester/covr


r:
  - oldrel
  - release

matrix:
  include:
    - os: linux
      dist: precise
      sudo: false
    - os: linux
      dist: trusty
      env: R_CODECOV=true
      r_check_args: '--use-valgrind'
    - os: osx
      osx_image: xcode8.3
      brew_packages: v8@3.15
      latex: false
    - os: osx
      osx_image: xcode8.3
      disable_homebrew: true
      latex: false
    - os: osx
      osx_image: xcode7.3
      disable_homebrew: true
      latex: false

addons:
  apt:
    packages:
      - libv8-dev
      - valgrind


warnings_are_errors: true
#r_check_revdep: true

after_success:
  - if [[ "${R_CODECOV}" ]]; then R -e 'covr::codecov()'; fi

before_install:
  - (while true; do echo 'Ping? Pong!'; sleep 500; done) &





